nav{
height: 30px;
background-color: rgb(245, 242, 238);
padding: 20px 10px;
display: flex;
align-items: center;
}

nav>ul{
    margin-left: auto;
    width: 700px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav>ul>li>a{
    color: black !important;
    text-decoration: none;
}
