.stats__container{
    width: 700px;
    background-color: rgb(226, 240, 240);
    padding: 30px;
    position: relative;
    top: 100px;
   left: 200px;

}
select{
    width: 180px;
    padding: 10px;
    background-color: rgb(197, 197, 58);
}
.stats>div{
    font-size: 30px;
}